.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: start;
  align-items: center;
  background-image: url("/img/bg.png");
}

.footer {
  margin-top: auto;
  margin-bottom: 16px;
}
